.btn {
  font: inherit;
  background-color: rgba(240, 240, 240, 0.2); /* 유리 재질 반투명 효과 */
  border: 0;
  color: #242424;
  font-size: 1.15rem;
  padding: 0.375em 1em;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.5);
  box-shadow: 
    inset 0 0.0625em 0 rgba(255, 255, 255, 0.3),
    0 0.0625em 0 rgba(255, 255, 255, 0.2),
    0 0.125em 0 rgba(255, 255, 255, 0.1),
    0 0.25em 0 rgba(240, 240, 240, 0.15),
    0 0.375em 0 rgba(220, 220, 220, 0.15),
    0 0.425em 0 rgba(200, 200, 200, 0.2);
  transition: 0.23s ease;
  cursor: pointer;
  /* font-weight: bold; */
  margin: -1px;
  backdrop-filter: blur(5px); /* 유리 재질 블러 효과 */
}

.middle {
  border-radius: 0px;
  background-color: rgba(240, 240, 240, 0.2); /* 일관된 유리 효과 */
}

.right {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: rgba(240, 240, 240, 0.2);
}

.left {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: rgba(240, 240, 240, 0.2);
}

.btn:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 rgba(255, 255, 255, 0.3),
              0 0.03em 0 rgba(255, 255, 255, 0.2),
              0 0.0625em 0 rgba(240, 240, 240, 0.1),
              0 0.2em 0 rgba(200, 200, 200, 0.2);
  letter-spacing: 0.1em;
  color: red;
  backdrop-filter: blur(5px);
}

.btn:focus {
  color: red;
  /* outline: 2px solid #DB4455; */
}